@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Library Management System</h1>
    
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="Library">
            <div class="card-body">
              <h5 class="card-title">Library</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a asp-area="" asp-controller="Library" asp-action="Index" class="btn btn-primary">View Library</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/555790/pexels-photo-555790.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="Subscriber">
            <div class="card-body">
              <h5 class="card-title">Subscribers</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a asp-area="" asp-controller="Subscribers" asp-action="Index" class="btn btn-danger">View Subscribers</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/244134/pexels-photo-244134.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="Branches">
            <div class="card-body">
              <h5 class="card-title">Branches</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a asp-area="" asp-controller="Branches" asp-action="Index" class="btn btn-info">View Branches</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</div>
